*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}   

#product1 {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 30px;

    display: flex;
    align-items: center;
    gap: 60px;
}

/* Картинка */
.product-image {
    width: 50%;
    height: 620px;

    background-color: #f1f1f1;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 80%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

/* Правая часть */
.product-info {
    width: 50%;
}

.product-label {
    margin-bottom: 25px;

    color: #d87d4a;
    font-size: 14px;
    letter-spacing: 6px;
    font-weight: 500;
}

.product-info h2 {
    margin: 0 0 35px;

    color: #000;
    font-size: 42px;
    line-height: 1.15;
    font-weight: 700;
}

.product-text {
    max-width: 480px;

    margin-bottom: 40px;

    color: #777;
    font-size: 16px;
    line-height: 1.6;
}

.product-info button {
    border: none;
    padding: 18px 32px;

    background-color: #d87d4a;
    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s;
}

.product-info button:hover {
    background-color: #fbaf85;
}


#product1 {
    width: 90%;
    max-width: 1400px;
    min-height: 690px;

    margin: 50px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 70px;
}

/* ЛЕВАЯ ЧАСТЬ */

.product-info {
    width: 45%;
}

.product-info h2 {
    font-size: 50px;
    line-height: 1.35;

    margin-bottom: 40px;

    color: #000;
}

.product-info p {
    max-width: 550px;

    color: #8c8c8c;

    font-size: 17px;
    line-height: 1.5;

    margin-bottom: 50px;
}

.product-info button {
    padding: 20px 38px;

    border: none;

    background: #d87d4a;
    color: white;

    font-size: 16px;

    cursor: pointer;
}

/* ПРАВАЯ ЧАСТЬ */

.product-image {
    width: 52%;
    height: 690px;

    background: #f1f1f1;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.product-image img {
    width: 90%;
    height: 90%;

    object-fit: contain;
}